body {
  background: linear-gradient(
    67.6deg,
    rgb(225, 242, 254) -2.8%,
    rgb(193, 224, 250) 44.6%,
    rgb(19, 116, 197) 102.4%
  );
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.weather-app {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 30px 50px rgba(85, 85, 85, 0.1);
  font-family: "Lato", sans-serif;
  color: rgb(45, 45, 45);
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 48px;
}
